<!-- home body -->
		<div id="content-blog">
			<h3 title="Footy Songs">Footy Songs</h3>
			<p class="footyl"><%= image_tag("footy-songs-ball.gif") %></p>
			<p class="footy"><a href="orders.html" title="Kevin Sheedy, He’s Our Man"><strong>&ldquo;Kevin Sheedy, He’s Our Man&rdquo;</strong></a> – light-hearted tribute to Sheeds performed for his silver jubilee match at Telstra Dome in May 2005.</p>
			<p class="footy"><a href="orders.html" title="It Still Gets To Me"><strong>&ldquo;It Still Gets To Me&rdquo;</strong></a> – Springsteen-esque footy anthem</p>
			<p class="footy"><a href="orders.html" title="Thank God The Footy’s Back"><strong>&ldquo;Thank God The Footy’s Back&rdquo;</strong></a> – when you miss your foot so much and you don’t know where to turn</p>
			<p class="footy"><a href="orders.html" title="Role Model"><strong>&ldquo;Role Model&rdquo;</strong></a> – footballers just can’t get away with anything these days!</p>
			<p class="footy"><a href="orders.html" title="The Agony and The Ecstasy"><strong>&ldquo;The Agony and The Ecstasy&rdquo;</strong</a> – tribute to Teddy Whitten performed at the E.J.Whitten Cup June 2005</p>
			<p class="footy"><a href="orders.html" title="Princes Park"><strong>&ldquo;Princes Park&rdquo;</strong></a> – nostalgic ode to the passing of Princes Park</p>
			<p class="footy"><a href="orders.html" title="I’m Still Here"><strong>&ldquo;I’m Still Here&rdquo;</strong></a> – one for the diehard supporters</p>
			
			<hr />
		</div>