<!-- home body -->
		<div id="content-sub">
			<div id="downloads-tables">
				<h3 title="Download Tracks">Download Tracks</h3>
				<form action="#" method="post">
				<table cellpadding="0" cellspacing="0" summary="List of downloadable songs">
				<tr>
					<th class="first">Album Title</th>
					<th>Track Title</th>
					<th>Time</th>
					<th>Price</th>
					<th class="last" style="text-align:center">Sample</th>
				</tr>
				<tr class="one">
					<td><strong>Let's Fall in Love</strong></td>
					<td><input type="checkbox" class="box" name="song" value="El Magnifico" id="El Magnifico" /> <label for="El Magnifico"><strong>El Magnifico</strong></label></td>
					<td><span>4:00</span></td>
					<td>$1.00</td>
					<td style="text-align:center"><a href="#" title="Listen to sample"><img src="images/speaker.gif" alt="Listen to sample" title="Listen to sample" /></a></td>
				</tr>
				<tr class="two">
					<td><strong>Let's Fall in Love</strong></td>
					<td><input type="checkbox" class="box" name="song" value="Pendulum" id="Pendulum" /> <label for="Pendulum"><strong>Pendulum</strong></label></td>
					<td><span>3:36</span></td>
					<td>$1.00</td>
					<td style="text-align:center"><a href="#" title="Listen to sample"><img src="images/speaker.gif" alt="Listen to sample" title="Listen to sample" /></a></td>
				</tr>
				<tr class="one">
					<td><strong>Let's Fall in Love</strong></td>
					<td><input type="checkbox" class="box" name="song" value="On and On" id="On and On" /> <label for="On and On"><strong>On and On</strong></label></td>
					<td><span>2:59</span></td>
					<td>$1.00</td>
					<td style="text-align:center"><a href="#" title="Listen to sample"><img src="images/speaker.gif" alt="Listen to sample" title="Listen to sample" /></a></td>
				</tr>
				<tr class="two">
					<td><strong>Let's Fall in Love</strong></td>
					<td><input type="checkbox" class="box" name="song" value="I Just dont Understand" id="I Just dont Understand" /> <label for="I Just dont Understand"><strong>I Just don't Understand</strong></label></td>
					<td><span>3:01</span></td>
					<td>$1.00</td>
					<td style="text-align:center"><a href="#" title="Listen to sample"><img src="images/speaker.gif" alt="Listen to sample" title="Listen to sample" /></a></td>
				</tr>
				<tr><td class="two-last" colspan="5"></td></tr>
				<tr class="two">
					<td><strong>Total Ttrack(s)</strong></td>
					<td colspan="2"><strong style="float:right;padding-right:25px;">Total price</strong><input type="text" name="total" value="3" id="total" style="width:40px" /></td>
					<td> $3.00</td>
					<td style="text-align:center"><input type="submit" name="buy" value="&nbsp;" class="buy" /></td>
				</tr>			
				</table>
				</form>
			</div>	 	
		</div>
