/* --- main navigation --- */

#main-nav{padding:0;margin:0;width:700px;height:39px;float:left;}
#main-nav a {float:left;margin:0;padding: 0px 0px 0 0px;font-weight:900;text-decoration:none;}
#main-nav ul{padding:4px 0 0 0px;margin:0;list-style-type:none;}
#main-nav li{padding:0;margin:0;display:inline;}
#main-nav li a{font: 18px "Trebuchet MS",Verdana, Arial, Helvetica,Sans-Serif;font-weight:bold;padding:10px 10px 0px 10px;margin:0;color:white;height:34px;}
#main-nav li a:hover{background:#232323 url(../images/anavbg.gif) repeat-x top left}
#main-nav li a.current{color: white;background:#232323 url(../images/anavbg.gif) repeat-x top left}