	<!-- home body -->
<div id="content-band">
	
	<h3><%= @participant.name %></h3>
	<p><img src="/design/aidanbio.jpg" alt="Aidan" title="Aidan" class="biophoto" /></p>
	
	<div class="cleaner"></div>
</div>