<h1>Purchase Sprockets</h1>
<p>Thank you for your decision to purchase our sprockets.</p>
<p><h2>Trecks:</h2></p>
<p><% for upload in @order.uploads %>
	<%= upload.name %><br />
	<% end %>
<p>Your order total is <%= @order.amount %></p>
<p>
  <%= link_to image_tag('https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif'), :action => 'checkout', :id => @order %>
</p>

