<% form_for [:admin, @contact] do |f| %>

  <div class="field">
    <%= f.label :some_contact %><br />
    <%= f.text_field :some_contact %>
  </div>

  <div class="submit">
    <%= f.submit "Go" %>
  </div>
  
<% end %>
<%= link_to "back", admin_contacts_path %>