	<!-- home body -->
	<div id="content-discography">
		<h3 title="Jack solo">JACK HOWARD SOLO RECORDINGS</h3>
		<p>Thursday, 04 November 2004</p>
		<h4>"LO STRESSO TEMPO"</h4>
		<p>(5-TRACK EP) released 2000 (cat. no. CORD 068 available through Corduroy Records at <a href="http://www.corduroy.com.au" title="Corduroy Records">www.corduroy.com.au</a>)</p>
		<h4>"SECRETS AND WHITE LIES"</h4>
		<p>released 2002 (cat. no. LORCD-035 available through Laughing Outlaw Records at <a href="http://www.laughingoutlaw.com.au" title="Laughing Outlaw Records">www.laughingoutlaw.com.au</a>)</p>
		<h4>"LET'S FALL IN LOVE"</h4> 
		<p>RELEASED 2004 (cat. no. HOW003 released independently)</p>
		<h3 title="With Hunters and Collectors"> WITH HUNTERS AND COLLECTORS</h3>
		<p>Thursday, 04 November 2004</p>
		<p>GO TO <a href="http://www.humanfrailty.com" title="Hunters and Collectors">www.humanfrailty.com</a> FOR A COMPLETE DISCOGRAPHY OF HUNTERS AND COLLECTORS</p>
		<h3 title="Trumpet player">AS TRUMPET PLAYER</h3>
		<p>Thursday, 04 November 2004</p>
		<h4>THE LIVING END — ROLL ON
		<p>(Jack and Aidan and Jeremy Smith from H & C played on 5 tracks on The Living End's second CD)</p>
		<h4>DIED PRETTY —TRACE</h4>
		<p>(Jack played on 2 tracks on this Died Pretty CD)</p>
		MARK SEYMOUR — BALLAD OF THE ONE-EYED MAN</h4>
		<p>( played on one song on Mark's debut CD)</p>
		<h4>X — AT HOME WITH YOU</h4>
		<p>(played on 4 tracks and did the horn arrangements on this classic Australian release — unfortunately this went uncredited)</p>
		<h4>ANDREW DUFFIELD — TEN HAPPY FINGERS</h4>
		<p>(as trumpet player and arranger)</p>
		<h4>HAREM SCAREM — LO AND BEHOLD</h4>
		<p>(as trumpet player and arranger)</p>
		<h4>THE GHOSTWRITERS</h4>
		<p>&nbsp;</p>
		<h3 title="Compilations">COMPILATIONS</h3>
		<p>Thursday, 04 November 2004</p>
		<h4>CANTEEN CHRISTMAS CHARITY CD</h4>
		<p>(cover of the Christmas Carol "We Three Kings" with Nicky Del Rey)</p>
		<h4>SONY AFL FOOTBALL COMPILATION CD</h4>
		<p>(Jack's football song "Thank God The Footy's Back" was included on this 1999 release)</p>
		<h4>SOUNDS FROM DiG</h4>
		<p>(DiG internet radio sampler 2003 included "Great White Way" from Secrets and White Lies)</p>
		
	</div>