	<!-- home body -->
<div id="content-discography">
	<h3 title="Jack solo">JACK HOWARD SOLO RECORDINGS</h3>
	<p>Thursday, 04 November 2004</p>
	<% for album in @albums %>
		<h4><%= album.title %></h4>
		<p><%= album.description %></p>
	<% end %>
</div>