	<!-- home body -->
	<div id="content-lyrics">
	  <h3 title="Album(s)">Album(s)</h3>
	  <div id="links">
		  <h4><%= @album.title %></h4>
		  <% for lyric in @album.lyrics %>
			<%= lyric.title %>
			<%= lyric.text_song %>
		  <% end %>
			</p>
			<p><a href="#" title="Lyrics for Lotus Blossom">Lotus Blossom
		  <span><strong>Lotus Blossom</strong><br /><br />
				Lot of shiny cars out tonight<br />
				Wall to wall candy as the heatwave continues<br />
				There's a hot north wind and the smell of bushfires<br />
				Searching for a piece of the action<br /><br />
				
				I'm looking for my lotus blossom<br />
				I'm looking for my lotus blossom<br /><br />
				
				Boys and girls come out to play<br />
				Drifting beach-ward on a bleached-blonde tide<br />
				They're livin' fun-filled sitcom lives<br />
				Easy pickings in the afternoon sun<br /><br />
				
				I'm looking for my lotus blossom<br />
				I'm looking for my lotus blossom<br /><br />
				
				You keep your promises and I'll keep mine<br />
				You keep your secrets and I'll keep mine<br />
				No heartbreak and no regrets<br />
				No heartbreak and no remorse<br /><br />
				
				I'm looking for my lotus blossom<br />
				I'm looking for my lotus blossom<br />
				I'm looking for my lotus blossom<br /><br />
				[Jack Howard]
							</span>	
			</a>
			</p>
			<p><a href="#" title="Lyrics for Things To Come">Things To Come
				<span>
					<strong>Things To Come</strong><br /><br />
					When you wake it's barely dawn<br />
					Oh, what a beautiful morning it could be<br />
					Scratch yourself and spring to life<br />
					Try not to stir the trouble and strife<br /><br />
					
					To shave or not to shave<br />
					Spin the wheel and learn your fate<br />
					And as it slows, your mind goes<br /><br />
					
					It could be a sign of things to come<br />
					Open your eyes and be strong enough to run<br /><br />
					
					Step by step, he slowly turns<br />
					One by one he eyes them each in turn<br />
					Look at my creation<br />
					The monster looms above your head he reaches down and...<br /><br />
					
					Brush it aside, it's only dust<br />
					Nothing it broken, you'll just have to trust yourself<br />
					First one foot and then the other<br />
					Look at him sisters, look at him brothers<br /><br />
					
					As the curtain slowly falls<br />
					And he rides into the sunset<br />
					A final word from our sponsors<br />
					Don't look back, don't look down<br /><br />
					
					It could be a sign of things to come<br />
					Open your eyes and try to have some fun<br />
					Seasons come and seasons go<br />
					What we reap we shall sow<br /><br />
					
					It could be a sign of things to come<br />
					Open your eyes and let in the sun<br />
					Lovers come and lovers go<br />
				  What we reap we shall sow	<br /><br />
				  [Jack Howard]
				</span>
				</a>
			</p>
			<p>
				<a href="#" title="Lyrics for Deliver Me">Deliver Me
				<span>
				<strong>Deliver Me</strong><br /><br />
				
				I have prayed for rain<br />
				I have even prayed for pain<br />
				Now I pray for anything<br />
				To stop me falling down again<br /><br />
				
				I have prayed for love<br />
				I have prayed for glory<br />
				And I try and I try<br />
				But it still ends up the same old story<br /><br />
				
				Once I thought that I could change my silly ways<br />
				Deliver me from good<br />
				Deliver me from evil<br />
				Deliver me from evil<br /><br />
				
				I have left a trail of friends<br />
				Left them bitter in the end<br />
				As I disregarded all the times that helped me<br />
				That I've bit the feeding hand<br /><br />
				
				Once I thought that I could change my hurting ways<br />
				Deliver me from good<br />
				Deliver me from evil<br />
				Deliver me from evil<br /><br />
				
				And I wonder if I'll ever see the day<br />
				When I reach a point where those I love won't have to play and pay<br />
				For all the trust that I've misused<br />
				All the love that I've abused<br /><br />
				
				Ooooooohh<br />
				Deliver me from good<br />
				Deliver me from evil<br />
				Deliver me from good<br />
				Deliver me from evil<br /><br />
				
				[Jack Howard]
				</span>	
				</a>
			</p>
			<p><a href="#" title="Lyrics for On and On">On and On
				 <span>
				  <strong>On and On</strong><br /><br />
					I took one look in the mirror<br />
					I knew it was time to go<br />
					Emptied out my wardrobe<br />
					Where to now I didn't know<br /><br />
					
					Get behind the wheel and drive<br />
					Turn up the radio<br />
					I got the one-armed tan, feel like a macho man<br />
					Don't fence me in<br /><br />
					
					I go on and on and on<br />
					Wonder where I'll go today<br />
					I go on and on and on<br />
					I wonder where I'll go<br /><br />
					
					Pulled up by the side of the road<br />
					Cold coffee and the sound of silence<br />
					Looking for a sign<br />
					I'm looking for peace of mind<br /><br />
					
					Wonder where I'll go today<br />
					Go one thousand miles away<br />
					Where the ocean meets the sky<br />
					That's where I will stay<br /><br />
					
					I go on and on and on<br />
					Wonder where I'll go today<br />
					I go on and on and on<br />
					I wonder where I'll go<br /><br />
					
					[Jack Howard]
				 </span>
				 </a>
			</p>
			<p><a href="#" title="Lyrics for I Just Don't Understand">I Just Don't Understand
				 <span>
				 	<strong>I Just Don't Understand</strong><br /><br />
				 	She spends her money on magazines<br />
					She gets her nails done once a week<br />
					She drinks coffee all day, watches "Sex and the City"<br />
					Plays hard on a Friday night<br /><br />
					
					She's just discovered herself and she goes where she goes<br />
					And she keeps her love in check<br />
					She's got better things to waste her time on<br />
					Than some sweet-talkin' man<br /><br />
					
					I see that look in her eyes<br />
					Is it real or just disguise?<br />
					I just don't understand<br />
					I just don't understand, yeh<br /><br />
					
					We talk deep in the night on her balcony<br />
					Drinking whiskey and cheap red wine<br />
					She cries tears that are real and her make-up runs<br />
					And she seems to be so lost<br /><br />
					
					But even as I take her in my arms<br />
					And try to kiss those tears away<br />
					I can feel her start to disappear<br /><br />
					
					See that look in her eyes<br />
					Is it real or just disguise?<br />
					I just don't understand<br />
					I just don't understand, yeh<br /><br />
					
					I thought I'd be the one to save her<br />
					I thought I'd be the one<br /><br />
					
					I just can't read those signs<br />
					I just don't understand<br />
					I just don't understand, yeh<br />
					I just don't understand<br />
					I just don't understand<br /><br />
					
					 
					
					[Jack Howard]
				 </span>
				 </a>
			</p>
			<p><a href="#" title="Lyrics for When Will I Be Over It">When Will I Be Over It
				 <span>
				 	<strong>When Will I Be Over It</strong><br /><br />
				 	If I see you walking down the street<br />
					I give the briefest nod and walk on by<br />
					And if you call my name, my head is down, my heart is hard<br />
					I turn the corner out of sight<br /><br />
					
					And I read my morning paper and I drink my morning coffee<br />
					But you know that I am faking, these encounters leave me shaken<br />
					And it's not as if I'm broken, but I keep it all unspoken<br />
					And when I find myself alone, there's nothing left<br /><br />
					
					When will I be over it<br />
					Tell me when will I be over this affair<br /><br />
					
					I hear you moved away, you left without a trace<br />
					I wonder if you found the shore<br />
					The operator says there's no-one by that name<br />
					I wonder if you'd ever come back to my door<br /><br />
					
					And I know that I should say something like, I hope you're happy<br />
					And I hope that you have found somebody new<br />
					But you know that I'd by lying because this jealousy's like fire<br />
					And I lie awake and dream of sweet revenge<br /><br />
					
					When will I be over it<br />
					Tell me when will I be over this affair<br /><br />
					
					[Jack Howard]
					</span>
				 </a>
			</p> 	
			<p><a href="#" title="Lyrics for Let's Fall In Love">Let's Fall In Love
				 <span>
				 <strong>Let's Fall In Love</strong><br /><br />
				 	He wears a heady perfume<br />
					As he surveys the scene<br />
					Down at Jo-Jo's on a Friday night<br />
					At happy hour<br /><br />
					
					Sun-lounge blondes and I.T. entrepreneurs<br />
					Comparing accessories<br />
					Day-glo slacks and retro style<br />
					They all seem so immune<br />
					They all seem so immune<br />
					They all seem so immune<br /><br />
					
					But all that glitters is not gold<br />
					And all these creatures seem so bold<br />
					Beneath the shadows, the neon lights<br />
					They fall so fast<br /><br />
					
					Fast buck, slow suck, sitting up a corner<br />
					Try your luck, it could happen to you<br />
					You walk the walk, now talk the talk<br />
					Let's do a line, let's make a deal<br /><br />
					
					Let's fall in love<br />
					Let's fall in love<br />
					Let's fall in love<br />
					Let's fall in love<br /><br />
					
					So seize the day and make the play<br />
					It's a toll-free zone<br />
					Nobody's watching you can do what you please<br />
					And what pleases you is a modern life<br /><br />
					
					No rules, no fear, get loud, get down<br />
					If it feels good it must be right<br />
					But burst my bubble<br />
					Isn't there something missing?<br /><br />
					
					Let's fall in love<br />
					Let's fall in love<br />
					Let's fall in love<br />
					Let's fall in love<br /><br />
						[Jack Howard]
				 </span>
				 </a>
			</p>
			<p><a href="#" title="Lyrics for Fallen Angel">Fallen Angel
				 <span>
				 	<strong>Fallen Angel</strong><br /><br />
				 	The boys all fall around her feet<br />
					And all their riches can't persuade her to defeat<br />
					She's far away, she's fear or fate<br />
					But what she wants, it isn't here<br /><br />
					
					As she glances around the room<br />
					Her face so fair, her eyes so blue<br />
					So deep inside, so ill-defined<br />
					All the time, she's movin' on<br /><br />
					
					Nothing's going to change her ways<br />
					Stranger than a fallen angel, yeh<br />
					Nothing's going to make her sway<br />
					Mystery it still surrounds her, yeh<br /><br />
					
					The princes gather now to offer up their gold<br />
					They court her endlessly to seek her hand<br />
					They think she's cold, no heart to heal<br />
					She's like a siren in their souls<br /><br />
					
					Nothing's going to change her ways<br />
					Stranger than a fallen angel, yeh<br />
					Nothing's going to make her sway<br />
					Mystery it still surrounds her, yeh<br /><br />
					
					The boys all fall around her feet<br />
					And all their riches can't persuade her to defeat<br />
					She's far away, she's fear or fate<br />
					She's like a siren in their souls<br />
					She's like a dream they never had, yeh<br /><br />
					
					Nothing's going to change her ways<br />
					Stranger than a fallen angel, yeh<br />
					Nothing's going to make her sway<br />
					Mystery it still surrounds her, yeh<br /><br />
					Yeh yeh yeh
					
					[Jack Howard]

				 </span>
				 </a>
			</p> 	
			<p><a href="#" title="Lyrics for Pendulum">Pendulum
				 <span>
				 <strong>Pendulum</strong><br /><br />
				  Sunday comes around, it's such an open book<br />
					Write down the words you want to hear<br />
					Summer wind it blows your mind<br />
					It scatters all your little plans around<br /><br />
					
					Telephone it rings and then your heart is in your mouth<br />
					Hear her voice, it's what you're waiting for<br />
					Say hello, you say goodbye<br />
					You don't know what to say and all you do<br /><br />
					
					Is swing on the pendulum of her love<br />
					Yes you swing on the pendulum of her love<br />
					All you do is swing on the pendulum of her love<br /><br />
					
					Once again your little world has fallen in, it's turned to grey<br />
					Just pretend, you'll live to fight another day<br />
					When Sunday comes around again, the book is yours to write<br />
					What will you do? Yeh<br /><br />
					
					You swing on the pendulum of her love<br />
					Yes you swing on the pendulum of her love<br />
					All you do is swing on the pendulum of her love<br /><br />
					
					Seven seas, you know I'd sail them all for you<br />
					Heaven knows, I've found no peace for me<br />
					Devils' curse, I'd sell my soul<br />
					And I'd shower you with all I have to give, yeh<br /><br />
					
					And swing on the pendulum of your love<br />
					Yes you swing on the pendulum of her love<br />
					All you do is swing on the pendulum of her love<br />
					Yes you swing on the pendulum of her love<br /><br />
					
					[Jack Howard]
				 </span>
				 </a>
			</p> 	
			<p><a href="#" title="Lyrics for Losin' My Mind">Losin' My Mind
				 <span>
				 	<strong>Losin' My Mind</strong><br /><br />
				 	I string my soul like an old guitar<br />
					And the line is goin' slack<br />
					I hang my hat in a drifters' bar<br />
					There's no turning back<br /><br />
					
					At last count, I was forty-one<br />
					Forty-one goin' on nowhere<br />
					I bailed my wife out of jail today<br />
					You know I've got my cross to bear<br /><br />
					
					I must be losin' my mind<br />
					Losin' my mind<br />
					I must be losin' my mind<br />
					Yeh yeh<br /><br />
					
					I sank my teeth into her neck<br />
					She did not seem to mind<br />
					Her eyes were green, my heart a wreck<br />
					We seek what trouble finds<br /><br />
					
					I always feel like a sinner<br />
					Black and sometimes blue<br />
					But I'll keep on swingin'<br />
					And I'll wind up next to you<br /><br />
					
					I must be losin' my mind<br />
					Losin' my mind<br />
					I must be losin' my mind<br />
					Yeh yeh<br /><br />
					
					I sank my teeth into her neck<br />
					She did not seem to mind<br />
					Her eyes were green, my heart a wreck<br />
					We seek what trouble finds<br /><br />
					
					I always feel like a sinner<br />
					Black and sometimes blue<br />
					But I'll keep on swingin'<br />
					And I'll wind up next to you<br /><br />
					
					I must be losin' my mind<br />
					Losin' my mind<br />
					I must be losin' my mind<br />
					Yeh yeh<br /><br />
					
					[Jack Howard]
				 </span>
				 </a>
			</p>
		</div>
		
		<div class="cleaner"></div>	
	</div>