<%= error_messages_for :uploaded_file %>

<% form_for([:admin, upload], :html => { :multipart => true }) do |form| %>
		
	<%= form.file_field :music %><br />
	<%= form.hidden_field :track_id, :value => track.id %>
		
	<p><%= form.submit "Upload files" %></p>
	
<% end %>