<%= error_messages_for :participant %>
<% form_for([:admin, participant], :html => { :multipart => true }) do |form| %>
	<%= form.file_field :file %>
	
	<p><%= form.submit "Upload file" %></p>
<% end %>