<% form_for([:admin, @upload], :html => { :multipart => true }) do |form| %>

	<%=  link_to @upload.name, @upload.music.url %><br /><br />
	<%= form.file_field :file %><br />
		
	<p><%= form.submit "Upload file" %></p>
<% end %>