<%= error_messages_for :upload %>

<% form_for([:admin, @upload], :html => { :multipart => true }) do |form| %>
		
	Whole file: <%= form.file_field :music %><br /><br />
	Cut file: <%= form.file_field :file %><br />
		
	<p><%= form.submit "Upload files" %></p>
<% end %>