<%#= error_messages_for :upload %>

<% form_for([:admin, @upload], :html => { :multipart => true }) do |form| %>
		
	<%= form.file_field :music %>
		
	<p><%= form.submit "Upload file" %></p>
<% end %>