<h1>Admins</h1>
<% for user in @users %>
<h2><%= user.name %></h2>
<%= link_to 'Delete admin', [user, :admin], 
	:confirm => 'Are you sure?', 
	:method => :delete
%>
<% end %>
<p><%= link_to 'Back', admin_posts_path %></p>