<%= link_to "Create new user", new_admin_user_path %>
<% for user in @users %>
<h2><%= user.name %></h2>
<%= link_to 'Delete user', [:admin, user], 
	:confirm => 'Are you sure?', 
	:method => :delete
%>
<% end %>
